body{
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  background-color: plum;
  padding: 20px;

}

h1 {
  text-align: center;
  color: blueviolet
}

div {
  width: 100%;
  max-width: 500px;
  margin-top: 20px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 10px;
  margin: 5px 0;
  border: 1 px solid yellowgreen;
  border-radius: 5px;
}

li span {
  flex-grow: 1;
}

li.completed span{
  text-decoration: line-through;
  color: red;
}

button {
background-color: #007bff;
color: white;
border: none;
padding: 5px 10px;
border-radius: 5px;
cursor: pointer;
margin-left: 5px;
}

button:hover {
background-color: #0056b3;
}

input[type="text"] {
  width: 80%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

input[type="checkbox"] {
  margin-right: 10px;
}